// === Variables =====
$perspective:     60rem;
$font-size:       4.25rem;
$split-position:  49%;
$split-thickness: 4px;
$split-color:rgb(255, 255, 255);

// === Settings =====
%font-settings {
  font-family: "kanit";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

// === Codepen Setup =====
html,
body {
  width: 100vw;
  height: 100vh; 
}


//images cachées
.none {
  display: none;
}


body {
  @extend %font-settings;
  transform-style: preserve-3d;
  transform: perspective($perspective);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

//background vanta //
#vantajs {
  position: absolute;
  z-index: -1;
  width: 100% !important;
  height: 100% !important;
  canvas{
    position:initial !important;
    width: 100% !important;
    height: 100% !important;
  }
}

#Menu{
  position:absolute;
}


// === Menu <ul> =====
.Menu-list {
  font-size: $font-size;
  font-weight: 800;
  letter-spacing: .1em;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: -0.035em 0 0 #F22613,  0.035em 0 0 #00FFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateX(-10deg) rotateY(20deg); 
  a {
    text-decoration: none;
  }
}

.Menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: $split-position;
    left: -10%;
    right: -10%;
    height: $split-thickness;
    border-radius: $split-thickness;
    margin-top: -($split-thickness / 2);
    background: black;
    transform: scale(0);
    transition: transform .8s cubic-bezier(.16,1.08,.38,.98);
    z-index: 1;
  }
}

.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: $split-color;
  top: 0;
  height: $split-position;
  transition: all .8s cubic-bezier(.16,1.08,.38,.98);
  
  span { display: block; }
}

.Mask + .Mask {
  top: $split-position - 0.1;
  height: 100 - $split-position + 0.1;
  span { transform: translateY(-$split-position); }
}

.Menu-list-item:hover,
.Menu-list-item:active {
  .Mask { color: #FFF; transform: skewX(12deg) translateX(5px); }
  .Mask + .Mask { transform: skewX(12deg) translateX(-5px); }
  &::before { transform: scale(1); }
}






//work//


.swiper-container {
  width: 100%;
  
}
.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-general {
  padding: 75px 0;
  margin: 0 auto;
  width:  100%;
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    .item {
      flex: 1;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: none;
      transition: all 0.8s ease;
      &:hover {
        flex: 5;
      }
    }
  }
}

// Image 
.wrap-effect {
  .item {
    &:first-of-type {
      background-image: url('/assets/ToTheTop.gif');
    }
    &:nth-of-type(2) {
      background-image: url('/assets/Canon.gif');
    }
    &:nth-of-type(3) {
      background-image: url('https://cdn.dribbble.com/users/729829/screenshots/4473482/galshir-dog-walker.gif');
    }
    &:nth-of-type(4) {
      background-image: url('https://cdn.dribbble.com/users/729829/screenshots/5743606/gal-shir-scooter_2x.png');
    }  
  }
}











