/* @font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 200;
  src: local("Kanit ExtraLight"), local("Kanit-ExtraLight"),
    url("../../fonts/kanit-v4-latin-200.woff2") format("woff2"),
    url("../../fonts/kanit-v4-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: local("Kanit Regular"), local("Kanit-Regular"),
    url("../../fonts/kanit-v4-latin-regular.woff2") format("woff2"),
    url("../../fonts/kanit-v4-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 800;
  src: local("Kanit ExtraBold"), local("Kanit-ExtraBold"),
    url("../../fonts/kanit-v4-latin-800.woff2") format("woff2"),
    url("../../fonts/kanit-v4-latin-800.woff") format("woff");
}  */

